body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar p {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar p:hover {
  color: #ee82ee;
}

.fartblock h1:hover {
	color:#6a5acd;
}

.emptybrain h1:hover {
	color:#3cb371;
}

